// Place all the styles related to the Homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#textRec {
  margin-top: 0px;
};

#mainContRecipe {
  margin-top: -160px;
}

#mainJumbotron {
  margin-top: -40px;
}

#home_image {
  margin-top: -50px
}